.border-glow-container{
        width: 430px;
        height: 558px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0.1px;

}

.border-glow-container::before{
        content: "";
    background-image: conic-gradient(rgba(0,0,0,0), #fbc02d, rgba(0,0,0,0) 20%);
        width: 140%;
        height: 140%;
        position: absolute;
        animation: rotate 3.5s linear infinite;
        border-radius: 10px;
        
}
.border-glow-container::after{
        content: "";
        width: 350px;
        height: 310px;
        background: #101010;
        position: absolute;
        border-radius: 10px;
        display: flex;
        /* justify-content: center; */
        overflow: hidden;
        /* align-items: center; */
        margin: 0 auto;
    }
    
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }


    .project-description{
 background: #1D1836;
  height: 300px;
  padding: 18px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
    }


   @media (max-width: 768px) {
      .project-description{
 background: #1D1836;
  height: 420px;
  padding: 18px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
    }

   }

    @media (max-width: 768px) {
  .border-glow-container {
    /* width: 300px; */
    width: 324px; 
    height: 637px;

    margin: 0 auto !important;
    
  }
  .border-glow-container::after{
       
    width: 290px;
    height: 290px;
     margin: 0 auto !important;
    
        
    }
}

.custom-box {
    position: absolute;
    width: 120px;
    height: 80px;
    background: #1D1836;
    border-radius: 10px;
    top: 28px;
    right: 17px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

    a{
      text-decoration:underline;
      cursor: pointer;
    }
}

 @keyframes shimmer {
            0% {
                background-position: -100%;
            }
            100% {
                background-position: 100%;
            }
        }

        .shimmer {
            position: relative;
            display: inline-block;
            color: black;
            font-size: 10px;
            background: yellow;
            border-radius: 10px;
            padding: 4px;
            overflow: hidden;
            background: linear-gradient(90deg, yellow 0%, #ffafbd 50%, yellow 100%);
            background-size: 200% 100%;
            animation: shimmer 1.5s infinite;
        }

        .live-ribbon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 2px 12px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  transform-origin: top right;
  z-index: 10;
}

.live-ribbon::before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  border-width: 10px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}
